<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
      <compilation debug="true" targetFramework="4.0" tempDirectory="R:\Temp\147703a5-1076-451c-a4b8-89d1f9378ff7\aspnet_tmp" />
    </system.web>
  </location>
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
</configuration>