<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
      <compilation debug="true" targetFramework="4.0" tempDirectory="R:\Temp\befbd6d7-f45b-4600-b744-a1b27d32e64d\aspnet_tmp" />
    </system.web>
  </location>
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
</configuration>