<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
      <compilation debug="true" targetFramework="4.0" tempDirectory="R:\Temp\e616bc45-325d-4b62-99e9-d7a99a1702d5\aspnet_tmp" />
    </system.web>
  </location>
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
</configuration>